.card-header {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2em;
}
.card {
  width: 25%;
  height: 40vh;
  border: 5px solid black;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.card-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
